@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: clip;
} */

/* header */

header {
    width: 100%;
    height: 64px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    justify-content: space-between;
    border-bottom: 2px solid #e6e6e6;
}

.header-left {
    /* width: 20%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left h1 {
    font-size: 28px;
    color: #3a8fe4;
    margin-right: 20px;
}

.header-center {
    width: 500px;
    position: relative;
}

.header-center input {
    width: 100%;
    height: 35px;
    padding-left: 37px;
    border-radius: 6px;
    border: none;
    background-color: #f7f7f7;
}

.header-center input::placeholder {
    font-size: 15px;
}

.header-center input:focus {
    outline: none;
}

.search {
    width: 23px;
    height: auto;
    position: absolute;
    top: 6px;
    left: 10px;
}

.header-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-right img {
    width: 20px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}

.profile {
    width: 30px !important;
    height: 30px !important;
    position: relative;
    margin-right: 15px;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile::after {
    position: absolute;
    content: '';
    top: 20px;
    right: -16px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #00ff62;
    border: 1.5px solid #fff;
}


.overlay {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #0000007e;
    transition: .4s;
    opacity: 0;
    pointer-events: none;
}


.overflow {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #0000007e;
    transition: .4s;
    opacity: 0;
    pointer-events: none;
}




/* header */


/* aside-left */

.aside-left {
    position: absolute;
    top: 62px;
    left: 0px;
    width: 315px;
    height: calc(100vh - 64px);
    border-right: 2px solid #e6e6e6;

}


.main-asidewrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.aside-leftleft {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.image-wrap {
    width: 40px;
    height: 40px;
    border: 2px solid #bababa;
    border-radius: 7px;
    margin: 13px 0px;
    padding: 2px 2.5px;
    cursor: pointer;
}



.singleImage {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    padding: 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
}

.bordr {
    position: relative;
}


.bordr::after {
    position: absolute;
    content: '';
    width: 36px;
    height: 1.5px;
    top: 50px;
    left: 0px;
    background-color: #e6e6e6;
}


.singleImage img {
    width: 70%;
    height: auto;
}


.bold {
    border: 2px solid #000000;
}

.boldnone {
    border: none;
}


.asideleft-right {
    width: 80%;
    height: 100%;
    background-color: #f8f8f8;
    border-left: 2px solid #e6e6e6;
}


.asideleft-rightTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e6e6e6;
    padding: 15px;
}

.asideleft-rightTopLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.asideleft-rightTopLeft h2 {
    font-size: 20px;
}

.asideleft-rightTopLeft img {
    width: 20px;
    height: auto;
    margin-left: 7px;
}


.asideleft-rightTopRight {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
    border: 2px solid #e6e6e6;
}

.asideleft-rightTopRight img {
    width: 40%;
    height: auto;
}

.asideleft-rightBottom {
    width: 100%;
    padding: 23px 0px;
}

.asideleft-rightBottom span {
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 15px;
    color: #717171;
}

.joystic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0px;
    padding: 0px 15px;
    cursor: pointer;
}

.joystic img {
    width: 18px;
    height: auto;
    margin-right: 10px;
}


.joystic p {
    font-weight: 500;
}

.left-asidelist {
    padding: 0px 7px;
}

.left-asidelist li {
    width: 100%;
    list-style: none;
    padding: 10px 8px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.online {
    position: relative;
}

.online::after {
    position: absolute;
    content: '';
    top: 19px;
    right: 95px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
}


.left-asidelist li img {
    border: 1px solid #d3cbcb;
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    width: 23px;
    height: auto;
}

.twitter-Image {
    margin-right: -70px;
}


.active {
    background-color: #dee4e6;
    border-radius: 10px;
}

.left-asidelist a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

/* aside-left */


/* main */

main {
    width: calc(100% - 315px - 350px);
    height: calc(100vh - 64px);
    margin-left: 315px;
    overflow-x: hidden;
    overflow-y: clip;
}

main .container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 69px;
}

.container-top {
    width: 100%;
    padding: 0px 15px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px 0px #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}


.container-topleft {
    position: relative;
}

.bars-menu {
    width: 25px;
    height: auto;
    position: absolute;
    top: 10px;
    left: -45px;
    cursor: pointer;
    display: none;
}


.ussing {
    width: 25px;
    height: auto;
    cursor: pointer;
    margin-right: 15px;
    display: none;
}

.dubble {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-topleft p {
    font-size: 13px;
    position: relative;
}


.container-topleft p::after {
    position: absolute;
    content: '';
    top: 5.5px;
    left: 69px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000000;
}


.container-topleft p span {
    font-size: 13px;
    font-weight: 500;
    color: #069f41;
    display: inline-block;
    margin-left: 7px;
}


.chatbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbar h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}


.chatbar img {
    width: 18px;
    height: auto;
    margin-left: 6px;
    margin-bottom: 5px;
}


.sidebar-image {
    width: 25px;
    height: auto;
    cursor: pointer;
}


.container-bottom {
    width: 100%;
    height: calc(100% - 130px);
    padding: 30px 30px 10px 30px;
    overflow-y: scroll;
    overflow-x: clip;
    box-shadow: 0px 2px 5px 0px #ebebeb;
}

.wrap-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.single-contain {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}


.contain-images {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.contain-images img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.contain-text {
    width: 94%;
}


.contain-text h4 {
    margin-bottom: 5px;
}

.contain-text p {
    font-size: 15px;
    line-height: 25px;
    color: #423d3d;
}

.contain-text p span {
    display: inline-block;
    background-color: #dfe9ed;
    color: #45a2ff;
    border-radius: 10px;
    padding: 0px 6px;
}

.reply {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    cursor: pointer;
}

.reply p {
    color: #0255e3;
    font-weight: 600;
}

.reply img {
    width: 15px;
    height: auto;
    margin-left: 10px;
}


.file-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.file-left {
    width: 46%;
    padding: 8px 10px;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
}

.download-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downloadbox-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doenlef-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe1c0;
    margin-right: 10px;
    border-radius: 10px;
}

.doenlef-img img {
    width: 25px;
    height: auto;
}

.three-dit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-dit img {
    width: 30px;
    height: auto;
}


.three-dotsimg {
    width: 19px !important;
    height: auto;
    margin-left: 5px;
    cursor: pointer;
}

.downlo-text p {
    font-weight: 600;
    font-size: 13px;
}

.downlo-text span {
    font-size: 13px;
}


.tread {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
}


.tread-rap {
    width: 95%;
}


.arrowdown {
    position: relative;
}


.arrow {
    position: absolute;
    top: 0px;
    left: -37px;
}

.arrow img {
    width: 30px;
    height: auto;
}

.pragraph {
    width: 93%;
}

.weite-comments {
    width: 90%;
    margin: auto;
    border-bottom: 2px solid #e4e4e4;
    padding: 15px 0px;
    position: relative;
}

.weite-comments input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    font-size: 15px;
}


.weite-comments input::placeholder {
    font-size: 15px;
}

.weite-comments input:focus {
    outline: none;
}


.seemore {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.seemore p {
    color: #0c56d5;
    font-weight: 500;
}

.seemore img {
    width: 18px;
    height: auto;
    margin-left: 10px;
}

.images-files {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    right: 10px;
}

.images-files img {
    width: 20px;
    height: auto;
    margin: 0px 8px;
    cursor: pointer;
}


.wrap-bottom {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.wrap-bottom textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    max-height: 120px;
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.wrap-bottom textarea:focus {
    outline: none;
}

.textaria-image {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textaria-image img {
    width: 25px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.sender {
    position: absolute;
    bottom: 16px;
    right: 17px;
}

.sender img {
    width: 25px;
    height: auto;
    cursor: pointer;
}




/* main */


/* aside-right */

.aside-right {
    position: absolute;
    top: 62px;
    right: 0px;
    width: 350px;
    height: calc(100vh - 64px);
    border-left: 2px solid #e6e6e6;
    overflow-y: auto;
    overflow-x: hidden;
}


.aside-topright {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #e6e6e6;
}

.topright-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #0c56d5;
}

.topright-left p {
    color: #0c56d5;
    cursor: pointer;
    font-weight: 500;
}


.topright-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topright-right p {
    cursor: pointer;
    font-weight: 500;
}

.aside-rightbottom {
    width: 100%;
    padding: 0px 25px;
}


.aside-about {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 2px solid #e6e6e6;
}


.about-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.aside-about p {
    font-size: 16px;
    color: #535353;
}

.about-top h5 {
    font-size: 16px;
    cursor: pointer;
}

.about-top img {
    width: 22px;
    height: auto;
    cursor: pointer;
}


.aside-member {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 2px solid #e6e6e6;
}

.member-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-top h5 {
    font-size: 16px;
    cursor: pointer;
}

.memberimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberimg img {
    width: 22px;
    height: auto;
    cursor: pointer;
    margin-left: 15px;
}

.memberimg p {
    font-size: 14px;
    color: #3a8fe4;
    font-weight: 500;
    cursor: pointer;
}


.semiflat {
    width: 100%;
}

.semiflat p {
    font-size: 14px;
    margin: 20px 0px;
    font-weight: 500;
}

.semiflat-single {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.semiflat-image {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.semiflat-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.active-image {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17px;
    right: -3px;
    background-color: #fffee0;
    border: 1px solid #bababa;
}

.active-image img {
    width: 90%;
    height: auto;
}

.semiflat-single p {
    font-weight: 600;
    cursor: pointer;
}

.more-see {
    font-size: 13px;
    font-weight: 600;
}


.aside-attactment {
    width: 100%;
    padding: 30px 0px;
}

.attach-search {
    width: 100%;
    height: 33px;
    position: relative;
}

.attach-search input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
    background-color: #efefef;
}

.find {
    position: absolute;
    width: 20px;
    height: auto;
    top: 7px;
    left: 7px;
}

.attach-search input::placeholder {
    color: #000000;
}

.attach-search input:focus {
    outline: none;
}


.single-attach {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.attach-left {
    display: flex;
    align-items: center;
    justify-content: center;
}


.only-left {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb6ff;
    margin-right: 10px;
    border-radius: 6px;
}

.only-left img {
    width: 60%;
    height: auto;
}

.only-right p {
    font-weight: 600;
    margin-bottom: 5px;
}

.download {
    width: 30px;
    height: auto;
    cursor: pointer;
}


/* aside-right */


@media(max-width:1500px) {
    .container-bottom {
        padding: 30px 10px 10px 10px;
    }
}




@media(max-width:1400px) {
    .contain-images {
        margin-right: 15px;
    }
}



@media(max-width:1300px) {
    .file-left {
        width: 49%;
    }
}




@media(max-width:1200px) {

    main {
        width: 100%;
        height: calc(100vh - 64px);
        margin-left: 0px;
    }

    .aside-left {
        left: -315px;
        z-index: 1000;
        background-color: #fff;
        transition: .4s;
    }

    .aside-left.add {
        left: 0px;
    }

    .aside-right {
        right: -350px;
        z-index: 1000;
        background-color: #fff;
        transition: .4s;
        position: fixed;
        top: 64px;
    }

    .aside-right.add {
        right: 0px;
    }

    .container-topleft {
        margin-left: 45px;
    }


    .overlay.add {
        opacity: 1;
        pointer-events: all;
        z-index: 100;
    }

    .overflow.add {
        opacity: 1;
        pointer-events: all;
        z-index: 100;
    }


    .bars-menu {
        display: block;
    }

    .ussing {
        display: block;
    }

}

@media (max-width: 860px) {
    .header-center {
        width: 300px;
    }
}
@media(max-width:700px) {
    .file-wrap {
        flex-wrap: wrap;
    }

    .file-left {
        width: 100%;
        margin: 10px 0px;
    }
    .header-center input {
        display: none;
    }
    .header-center {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 5px;
        background-color: #f0f0f0;
    }
    .search {
        position: unset;
        top: unset;
        left: unset;
    }
}